$blue: #63c7ff;

.weatherWrapper {
  background: $blue;
  min-height: 100vh;
  color: #fff;
  main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-content: space-between;
  }
  .weatherImage {
    margin-top: 40px;
  }
  p {
    color: #ffffff;
  }
  .grader {
    color: white;
    font-size: 7em;
    font-weight: 100;
    text-align: center;
  }
  .city {
    font-size: 1.5rem;
  }
  .time {
  }
  table {
    bottom: 20px;

    border-spacing: 0;
    color: #ffffff;
    height: 400px;
    width: 279px;
  }
  th,
  td {
    padding: 8px;
    text-align: center;
  }
}
