.navBar {
  display: flex;
  justify-content: space-between;
  .searchIcon {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .navSnowflake {
    margin-top: 10px;
    margin-left: 10px;
  }
}
